<h1>Ayuda</h1>
<p>
Un quiz es un juego de habilidad mental que consiste en responder de manera correcta a las preguntas formuladas.
    <br>
    Para responder, el jugador rellenará la casilla de texto que tiene al lado de la pregunta formulada.
     <br>
    Quiz pretende ser una red social donde los jugadores interactuen, creando una comunidad fuerte y participativa.
     <br>
    
</p>